<!--  Start Footer  -->
<footer>
  <img src="img/logo_footer.png" alt="logo footer">
  <p class="rights">Copyright © crafty - All rights reserved, Find more free templates at <a href="http://pixelhint.com">Pixelhint.com</a></p>
</footer>
<!--  End Footer  -->
