<head>
  <title>Reclama Aquí</title>
  <link rel="shortcut icon" href="img/icon_nav.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <!--  Start CSS  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">
  <link rel="stylesheet" type="text/css" href="css/main_responsive.css">
  <link rel="stylesheet" href="css/lightstyle.css" id="linkEstilo">
  <!--  End Header  -->
</head>
