<!--  Start Nav  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <img src="img/logo.png" alt="logo header" class="logo">
	</div>
	<ul class="nav navbar-nav">
	  <li class="dropdown">
  		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Estilos
  		    <span class="caret"></span>
      </a>
  		<ul class="dropdown-menu">
  		  <li><a href="#" onClick="cambiarNoche()">Noche</a></li>
  		  <li><a href="#" onClick="cambiarDia()">Día</a></li>
  		</ul>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
  </div>
</nav>
<!--  End Nav  -->
