<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<h1>Login</h1>
<form class="" action="index.html" method="post">
  <input type="text" name="" value="">
</form>

<% include partials/footer.ejs %>
