<!DOCTYPE html>
<html lang="es">

<% include partials/header.ejs %>
	<body onload="inicializar();">

		<% include partials/navigation.ejs %>
		<div id="map" ></div>
		<div id="panelReclamos"></div>
		<div id="panelDescripcion"></div>
		<div id="panelAyuda"></div>
		<div id="panelLogin"></div>

		<% include partials/footer.ejs %>

	<!-- Start Scripts  -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyfTLWyCHhqEvX3AVXJprC3HsrSkJzQVM"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/funcionesIndex.js"></script>
	<script src="js/funcionesVista.js"></script>
	<script src="js/modelReclamos.js"></script>
	<script src="js/jquery-ui.js"></script>
	<!--  End Scripts  -->

	</body>
</html>
