<%var success = success%>
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
<div class="container">
	<div class="row main">
		<div class="panel-heading">
       <div class="panel-title text-center">
       		<h1 class="title">Nuevo Usuario</h1>
       		<hr>
       	</div>
    </div>
		<div id="divErroresSingUp"></div>
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="/submit">

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su Username">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email" placeholder="Ingrese su Email">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su Password">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confime su Password">
						</div>
					</div>
				</div>

				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/funcionesIndex.js"></script>
<script src="js/funcionesVista.js"></script>
<script src="js/facebook.js"></script>
<script src="js/jquery-ui.js"></script>

<% include partials/footer.ejs %>
